* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    width: 100vw;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 13px;

    header {
        display: flex;
        justify-content: flex-end;

        a:first-child {
            margin-right: 10px;
        }

        a:visited {
            color: #609;
        }

        a {
            text-decoration: none;
            color: black;
        }
    }

    #logo-container {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 20px;
    }

    #search-container {
        display: flex;
        justify-content: center;

        div {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0 8px;
            width: 360px;
            height: 46px;
            border: 1px solid #9aa0a6;
            border-radius: 24px;

            input {
                width: 100%;
                height: 20px;
            }
        }
    }

    #search-icon {
        color: #9aa0a6;
        height: 20px;
        width: 20px;
    }
}